.post {
   background-color: #fff;
   padding: 1.5rem;
   margin-bottom: 1rem;
   border-radius: 1rem;
}

.post__header {
   display: flex;
   align-items: center;
   margin-bottom: 1.5rem;
}

.post__info {
   margin-left: 1rem;
}

.post__info > p {
   font-size: 1.2rem;
   color: gray;
}

.post__info > h2 {
   font-size: 1.7rem;
   color: #444;
}

.post__buttons {
   display: flex;;
   justify-content: space-evenly;
}

.post__divider {
   height: 1px;
   width: 100%;
   border-top: 1px solid #eee;
   margin-top: 1.5rem;
   margin-bottom: -1rem;
}