.login {
   display: grid;
   place-items: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2rem;
   height: 80vh;
}

.login > img {
   object-fit: contain;
   height: 7rem;
   margin-bottom: 1rem;
}

.login > form {
   display: flex;
   flex-direction: column;
}

.login > form > input {
   width: 35rem;
   height: 5rem;
   font-size: 1.6rem;
   padding-left: 1rem;
   margin-bottom: 1rem;
   border-radius: 5px;
   border: 1px solid #ddd;
}

.login > form > button {
   width: 35rem;
   height: 5rem;
   font-size: large;
   color: #fff;
   background-color: #006698;
   padding-left: 1rem;
   margin-top: 2rem;
   border-radius: 5px;
   border: none;
   cursor: pointer;
}

.login__register {
   color: #0177b7;
   cursor: pointer;
}