body {
   background-color: #f3f2ef;
}

.app {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.app__body {
   display: flex;
   max-width: 120rem;
   margin-left: 2rem;
   margin-right: 2rem;
}

.avatar {
   display: flex !important;
   align-items: center !important;
   justify-content: center !important;
   font-size: 1.8rem !important;
   font-weight: bold !important;
   background-color: #006698 !important;
}

.lg {
   font-size: 2.5rem !important;
}